<div class="conteiner about">
    <div class="about-img">
       
        <picture>
            <source srcset="./images/about/about001.webp 1x, ./images/about/about001@2x.webp 2x" type="image/webp" />
            <source srcset="./images/about/about001.jpg 1x, ./images/about/about001@2x.jpg 2x" type="image/jpeg" />
            <img src="./images/about/about001.jpg" alt="about001" loading="lazy"/>
        </picture>

        <picture>
            <source srcset="./images/about/about002.webp 1x, ./images/about/about002@2x.webp 2x" type="image/webp" />
            <source srcset="./images/about/about002.jpg 1x, ./images/about/about002@2x.jpg 2x" type="image/jpeg" />
            <img src="./images/about/about002.jpg" alt="about001" loading="lazy"/>
        </picture>

        <picture>
            <source srcset="./images/about/about003.webp 1x, ./images/about/about003@2x.webp 2x" type="image/webp" />
            <source srcset="./images/about/about003.jpg 1x, ./images/about/about003@2x.jpg 2x" type="image/jpeg" />
            <img src="./images/about/about003.jpg" alt="about001" loading="lazy"/>
        </picture>
    </div>

    <div class="about-text">
        <h2>Про компанію</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <a href="#" class="button">
            Читати
            <svg>
                <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
            </svg>
        </a>
        </a>
    </div>    
</div>