<div class="conteiner footer">
        <div class="footerLogo">
            <img src="./images/footer/footerLogo.png" alt="Foter Logo">
        </div>
    
        <div class="footerNav">
            <h4>Інформація</h4>
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Галерея</a></li>
                <li><a href="#">Проекти</a></li>
                <li><a href="#">Сертифікати</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </div>
        
        <div class="footerContacts">
            <h4>Контакти</h4>
            <ul>
                <li>
                    <a href="#">
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-location"></use>
                        </svg> 

                        100000, Республіка  Казахстан, <br>
                        м. Караганда, вул. Телевізійна 10
                    </a>
                </li>
                <li>
                    <a href="tel:+38(000) 000 00 00">
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-icon-phone"></use>
                        </svg> 
                        +38(000) 000 00 00
                    </a>
                </li>
                <li>
                    <a href="mailto:mail@gmail.com" >
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-mail"></use>
                        </svg> 
                        mail@gmail.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="foterSocial">
            <h4>Соціальні мережі</h4>
            <ul>
                <li>
                    <a href="#">
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-pinterest"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    
</div>