<div class="contriner">
    <div>
        <!-- Не зовсім розумію "Project homme" статична назва чи статичний лише "Project", а "Home" - динамічний і буде змінюватись в залежності від того який слайд наразі відображається  -->
        <h1>PROJECT <br> <span>Home</span></h1>

        <div>
            <button type="button">
                <svg>
                    <use></use>
                </svg>
            </button>
            <button type="button">
                <svg>
                    <use></use>
                </svg>
            </button>
        </div>
    </div>

    <div>
        <a href="#"> 
            перешлянути
            <svg>
                <use></use>
            </svg>
        </a>
    </div>
</div>