<div class="conteiner mail">
    <h2>Зв'язатись із нами</h2>

    <div class="mailForm">
        <div>
            <form action="form">
                <ul>
                    <li>
                        <label for="name"></label>
                        <input id="name" type="text" name="name">
                    </li>
                    <li>
                        <label for="tel"></label>
                        <input id="tel" type="tel" name="tel" required>
                    </li>
                    <li>
                        <label for="mail"></label>
                        <input id="mail" type="text" name="mail" required>
                    </li>
                    <li>
                        <label for="product"></label>
                        <input id="product" type="text" name="product">
                    </li>
                    <li>
                        <label for="message"></label>
                        <textarea id="message" type="" name="message" required>
                    </li>
                    <li>
                        <label for="check"></label>
                        <input idd="check" type="checkbox" name="check" required>
                    </li>
                </ul>

                <button type="submit">
                    Надіслати
                    <svg>
                        <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
                    </svg>
                </a>
                </button>
                
            </form>
        </div>

        <div class="mailImg">
            <picture>
                <source srcset="./images/mail/mail.webp 1x, ./images/mail/mail@2x.webp 2x" type="image/webp" />
                <source srcset="./images/mail/mail.jpg 1x, ./images/mail/mail@2x.jpg 2x" type="image/jpeg" />
                <img src="./images/mail/mail.jpg" alt="House" data-modal="001" loading="lazy"/>
            </picture>

        </div>
    </div>

</div>