<div class="conteiner project">

    <h2>Наші проекти</h2>

    <ul class="project-list">
        <li>
            <div class="project-list-img">
                <picture>
                    <source srcset="./images/project/Rectangle.webp 1x, ./images/project/Rectangle@2x.webp 2x" type="image/webp" />
                    <source srcset="./images/project/Rectangle.jpg 1x, ./images/project/Rectangle@2x.jpg 2x" type="image/jpeg" />
                    <img src="./images/project/Rectangle.jpg" alt="project001" loading="lazy"/>
                </picture>
            </div>
            <div class="project-list-text">
                    <h3>досуговий центер</h3>
                    <a href="#" class="button">
                        Детальніше
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
                        </svg>
                    </a>
                
            </div>
        </li>
        <li>
            <div class="project-list-img">
                <picture>
                    <source srcset="./images/project/image001.webp 1x, ./images/project/image001@2x.webp 2x" type="image/webp" />
                    <source srcset="./images/project/image001.jpg 1x, ./images/project/image001@2x.jpg 2x" type="image/jpeg" />
                    <img src="./images/project/image001.jpg" alt="project002" loading="lazy"/>
                </picture>
            </div>
            <div class="project-list-text">
                    <h3>досуговий центер</h3>
                    <a href="#" class="button">
                        Детальніше
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
                        </svg>
                    </a>
                
            </div>
        </li>
        <li>
            <div class="project-list-img">
                <picture>
                    <source srcset="./images/project/image003.webp 1x, ./images/project/image003@2x.webp 2x" type="image/webp" />
                    <source srcset="./images/project/image003.jpg 1x, ./images/project/image003@2x.jpg 2x" type="image/jpeg" />
                    <img src="./images/project/image003.jpg" alt="project001" loading="lazy"/>
                </picture>
            </div>
            <div class="project-list-text">
                    <h3>досуговий центер</h3>
                    <a href="#" class="button">
                        Детальніше
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
                        </svg>
                    </a>
                
            </div>
        </li>
        <li>
            <div class="project-list-img">
                <picture>
                    <source srcset="./images/project/image17.webp 1x, ./images/project/image17@2x.webp 2x" type="image/webp" />
                    <source srcset="./images/project/image17.jpg 1x, ./images/project/image17@2x.jpg 2x" type="image/jpeg" />
                    <img src="./images/project/image17.jpg" alt="project001" loading="lazy"/>
                </picture>
            </div>
            <div class="project-list-text">
                    <h3>досуговий центер</h3>
                    <a href="#" class="button">
                        Детальніше
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
                        </svg>
                    </a>
                
            </div>
        </li>
        <li>
            <div class="project-list-img">
                <picture>
                    <source srcset="./images/project/image18.webp 1x, ./images/project/image18@2x.webp 2x" type="image/webp" />
                    <source srcset="./images/project/image18.jpg 1x, ./images/project/image18@2x.jpg 2x" type="image/jpeg" />
                    <img src="./images/project/image18.jpg" alt="project001" loading="lazy"/>
                </picture>
            </div>
            <div class="project-list-text">
                    <h3>досуговий центер</h3>
                    <a href="#" class="button">
                        Детальніше
                        <svg>
                            <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
                        </svg>
                    </a>
                
            </div>
        </li>
        
    </ul>

    <a href="#" class="button">
        Всі проекти
        <svg>
            <use href="./images/SmartOrange.svg#icon-ico-shape-right"></use>
        </svg>
    </a>
</div>