$animationTime: 500ms;

@keyframes visibleSpan {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animationHiden {
    opacity: 0;

}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 90px;

    width: 34%;

    & h2 {
        position: relative;
        margin-top: auto;

        & span {
            font-family: 'TTHoves-Bold', sans-serif;
            font-size: 64px;
            font-weight: 700;

            color: $primary-nav-color;
            text-transform: uppercase;

            animation: visibleSpan $animationTime linear;
            transition: opacity $animationTime linear;
        }

        

    }

    &-button {
        display: flex;
        gap: 24px;

        & button{
            width: 53px;
            height: 53px;
        }
    }


    &-count {
        display: flex;
        gap: 30px;
        margin-bottom: 100px;

        & span {
            color: $primary-titel-color;
            
            font-size: 24px;
        }
    }

}

.hero-img {
    position: relative;
    display: block;


    width: 66%;
    height: 830px;
    overflow: hidden;

    & picture {
        animation: visibleSpan $animationTime linear;
        transition: opacity $animationTime linear;
    }

    & > div {
        width: 100%;
        height: 100%;
    }

    & a {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}